
.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "side main";
  grid-template-columns: 280px auto;
  grid-template-rows: auto 1fr;
  height: 100svh;

  > .header {
    grid-area: header;
  }

  > .main {
    background-color: #f5f5f5;
    grid-area: main;
    overflow-y: auto;
  }

  > .side {
    grid-area: side;
    overflow-y: auto;
  }
}

.darkBar {
	color: white;
	background-color: #374151;

	& h2 {
		margin: 20px 12px;
		font-size: 18px;
		color: #cbd5e1;
	}

	.menu-vertical {
		.current {
			background-color: rgb(255 255 255 / 10%);
		}

		:hover {
			background-color: rgb(255 255 255 / 20%);
		}
	}

	.profile {
		padding: 8px 4px;

		& img {
			width: 48px;
			height: 48px;
			background-color: #f1f5f9;
			border-radius: 50%;
			object-fit: cover;
		}
	}
}
